* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: url(../Images/ocean.jpeg) black no-repeat center;
}

.slider-wrapper {
    overflow: hidden;
    max-width: 1200px;
    margin: 0 70px 55px;
}
.card-list .card-item {
    color: #fff;
    /* width: 400px; */
    user-select: none;
    padding: 35px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(30px);
    background: rgb(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.card-list .card-item .user-image {
    height: 250px;
    width: 250px;
    border-radius: 30px;
    margin-bottom: 40px;
    border: 3px solid #fff;
    padding: 4px;
}

.card-list .card-item .user-profession {
    font-size: 1.15rem;
    color: #e3e3e3;
    font-weight: 500;
    margin: 14px 0 40px;
}

.card-list .card-item .message-button {
    font-size: 1.25rem;
    padding: 10px 35px;
    color: #030728;
    border-radius: 6px;
    font-weight: 500;
    background: #fff;
    cursor: pointer;
    border: 1px solid transparent;
}

.card-list .card-item .message-button:hover {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    color: #fff;
}

.slider-wrapper .swiper-pagination-Bullets {
    background: #fff;
    height: 15px;
    width: 15px;
}

.slider-wrapper .swiper-pagination-button {
    color: #fff;
    margin-top: -50px;
}

.slider-wrapper .swiper-pagination-button:hover {
    color: #4658ff;
}

@media (max-width: 768px) {
    .slider-wrapper {
        margin: 0 10px 40px;
    }

    .slider-wrapper .swiper-pagination-button {
        display: none;
    }
}
